<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultUrlBoard" value="https://hebi.5ch.net/news4vip/"/>
		<add key="DefaultTarget" value="コテ雑"/>
		<add key="DefaultTimeInterval" value="3470"/>
		<add key="DefaultHN" value=""/>
		<add key="DefaultMessage" value="保守"/>
	</appSettings>
</configuration>