<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultUrlBoard" value="https://hebi.5ch.net/news4vip/"/>
		<add key="DefaultTarget" value="保守ツール"/>
		<add key="DefaultTimeInterval" value="3480"/>
		<add key="DefaultHN" value=""/>
		<add key="DefaultMessage" value="保守メッセージ1/5
保守メッセージ2/5
保守メッセージ3/5
保守メッセージ4/5
保守メッセージ5/5"/>
	</appSettings>
</configuration>